body {
    color: #93a1a1;
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    text-align: center;
}
.songinfo {
    float: right;
    width: 100px;
}
.title {
    font-size: 13px;
}
.artist {
    font-size: 10px;
}

#container {
    padding: 1px;
    height: 130px;
    border-radius: 0.4em;
    background-color: #002b36;
}

#loading {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#connect {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#song {
    padding-top: 2px;
    padding-left: 6px;
    height: 100px;
}

#connected {
    height: 30px;
    float: right;
    font-size: 12px;
    padding: 2px;
}

